version: 2
jobs:
  test_job:
    docker:
      - image: soulchips/temp-backup
    steps:
      - checkout
      - run: echo 'hello'
      - run: echo $TEST
  test_job1:
    docker:
      - image: soulchips/temp-backup
    steps:
      - checkout
      - run: echo 'hello'
      - run: echo $TEST
      - run: sleep 60
      - run: echo 'done'
  test_job2:
    docker:
      - image: soulchips/temp-backup
    steps:
      - checkout
      - run: echo 'hello'
      - run: echo $TEST
      - run: sleep 30
      - run: echo 'done'
  test_retention_docker:
    docker:
      - image: cimg/node:18.0
    retention:
      caches: 7d
    steps:
      - checkout
      - run: npm install
      - run: npm test

  test_retention_machine:
    machine: true
    resource_class: large
    retention:
      caches: 7d
    steps:
      - checkout
      - run: echo "wrote to a file" > dummy.file
      - run: cat dummy.file



workflows:
  version: 2
  now:
    jobs:
      - test_job
      - test_job1
      - test_job2
      - test_retention_docker
      - test_retention_machine
