version: 2
jobs:
  test_job:
    docker:
      - image: soulchips/temp-backup
    steps:
      - checkout
      - run: echo 'hello'
      - run: echo $TEST
      - run: exit 1

workflows:
  version: 2
  now:
    jobs:
      - test_job