version: 2
jobs:
  test_job:
    docker:
      - image: soulchips/temp-backup
    steps:
      - checkout
      - run: echo 'hello from my branch'
      - run: echo 'this is different'

workflows:
  version: 2
  now:
    jobs:
      - test_job